* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;;
}

#screen {
    border: 1px solid black;
    width: 90%;
    height: 75px;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    border-radius: 10px;
}

.result {
    text-align: right;
    border: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

button[data-control] {
    flex: 1 1 50%;
    gap: 20px;
    border-radius: 10px;
}

button[data-operator], button[data-num], #equal, #dot {
    flex: 1 1 25%;
    border-radius: 10px;
}

button[data-control]{
    background-color: aqua;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex: 1;
  }
  
button {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
  
button[data-operator] {
    background-color: orange;
}
  
#equal {
    background-color: green;
    font-weight: 600;
}